.buttonComponent {
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    cursor: pointer;
    border: none;
    transition: all .3s ease-out;
    box-shadow: #272727 1px 1px 1px, #272727 -1px -1px 1px;
    color: inherit;
    font-size: inherit;
    letter-spacing: 2px;
}

.buttonComponentprimary {
    background: rgba( 0, 119, 255, 0.1 );
    backdrop-filter: blur( 2px );

}
.buttonComponentprimary:hover {
    background: rgba( 0, 119, 255, 0.8 );
    backdrop-filter: blur( 2px );

}

.buttonComponentsecondary {
    background: rgba( 255, 0, 98, 0.1 );
    backdrop-filter: blur( 2px );

}

.buttonComponentsecondary:hover {
    background: rgba( 255, 0, 98, 0.8);
    backdrop-filter: blur( 2px );

}

.buttonComponentinfo {
    background: rgba(2, 255, 234, 0.1);
    backdrop-filter: blur( 2px );

}

.buttonComponentinfo:hover {
    background: rgba(2, 255, 234, 0.9);
    backdrop-filter: blur( 2px );

}

.buttonComponentdanger {
    background: rgba(189, 7, 7, 0.1);
    backdrop-filter: blur( 2px );

}

.buttonComponentdanger:hover {
    background: rgba(189, 7, 7, 0.8);
    backdrop-filter: blur( 2px );

}

.buttonComponentsuccess {
    background: rgba( 0, 255, 14, 0.1);
    backdrop-filter: blur( 2px );

}

.buttonComponentsuccess:hover {
    background: rgba( 0, 255, 14, 0.8);
    backdrop-filter: blur( 2px );

}

/* ////////////////////////////////////// */

.buttonComponentwarning {
    background: rgba(255, 238, 0, 0.2);
    backdrop-filter: blur( 2px );

}

.buttonComponentwarning:hover {
    background: rgba(255, 238, 0, 0.8);
    backdrop-filter: blur( 2px );

}

.buttonComponentlight {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 2px );

}

.buttonComponentlight:hover {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur( 2px );

}

.buttonComponentdark{
    background: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur( 2px );
    color: whitesmoke;
}

.buttonComponentdark:hover {
    background: rgba(10, 10, 10, 0.1);
    backdrop-filter: blur( 2px );

}

.buttonComponentlink{
    background: rgba(2, 183, 255, 0.2);
    backdrop-filter: blur( 2px );

}

.buttonComponentlink:hover {
    background: rgba(2, 183, 255, 0.8);
    backdrop-filter: blur( 2px );

}




.buttonComponentdefault {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 2px );
    font-size: inherit;
    letter-spacing: 2px;
    cursor: pointer;
}

.buttonComponentdefault:hover {
    background: rgba( 255, 255, 255, 0.5 );
    backdrop-filter: blur( 2px );
    font-size: inherit;
    letter-spacing: 2px;
    cursor: pointer;
}

.buttonComponent:active {
    opacity: .8;
}

