.buttonComponent {
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    cursor: pointer;
    border: none;
    transition: all .3s ease-out;
    box-shadow: #272727 1px 1px 1px, #272727 -1px -1px 1px;
    color: inherit;
    font-size: inherit;
    letter-spacing: 2px;
}

.buttonComponentprimary {
    background: rgba( 0, 119, 255, 0.1 );
    backdrop-filter: blur( 2px );
    border-radius: 15px;

}
.buttonComponentprimary:hover {
    background: rgba( 0, 119, 255, 0.8 );
    backdrop-filter: blur( 2px );
    border-radius: 15px;

}

.buttonComponentsecondary {
    background: rgba( 255, 0, 98, 0.1 );
    backdrop-filter: blur( 2px );
    border-radius: 15px;

}

.buttonComponentsecondary:hover {
    background: rgba( 255, 0, 98, 0.8);
    backdrop-filter: blur( 2px );
    border-radius: 15px;

}

.buttonComponentinfo {
    background: rgba( 148, 147, 147, 0.1 );
    backdrop-filter: blur( 2px );
    border-radius: 15px;

}

.buttonComponentinfo {
    background: rgba( 148, 147, 147, 0.8 );
    backdrop-filter: blur( 2px );
    border-radius: 15px;

}

.buttonComponentsuccess {
    background: rgba( 0, 255, 14, 0.1);
    backdrop-filter: blur( 2px );
    border-radius: 15px;

}

.buttonComponentsuccess:hover {
    background: rgba( 0, 255, 14, 0.8);
    backdrop-filter: blur( 2px );
    border-radius: 15px;

}

.buttonComponentdefault {
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 2px );
    border-radius: 15px;
    font-size: inherit;
    letter-spacing: 2px;
    cursor: pointer;
}

.buttonComponentdefault:hover {
    background: rgba( 255, 255, 255, 0.8 );
    backdrop-filter: blur( 2px );
    border-radius: 15px;
    font-size: inherit;
    letter-spacing: 2px;
    cursor: pointer;
}

.buttonComponent:active {
    opacity: .8;
}

